body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6fb;
    color: #1a1a2e;
    padding-top: 70px;
}

/* BARRA SUPERIOR */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #24292e;
    padding: 0 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.1rem;
}

.top-bar a:hover { color: #c4c575; }

/* HERO INDEX */
.profile-hero {
     background: 
     linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
url('imagenes/OIP.webp') center/cover no-repeat; 
      position: relative;
    text-align: center;
    color: white;
    padding: 6rem 1rem; 
    overflow: hidden; 

}

.profile-container { position: relative; z-index: 1; }

.profile-image-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
    margin-bottom: 1rem;
}

.profile-image-circle img { width: 100%; height: 100%; object-fit: cover; }

.profile-name { font-size: 2rem; margin: 0.5rem 0; }
.profile-title { font-size: 1.2rem; font-weight: 500; }
.profile-subtitle { opacity: 0.9; }

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #764ba2;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.3s;
}

.btn:hover { background-color: #5a3470; }
